[submodule "wal-rs"]
	path = wal-rs
	url = git@github.com:ClickHouse/wal-rs.git
[submodule "clickhouse-c-rs/clickhouse-c"]
	path = clickhouse-c-rs/clickhouse-c
	url = https://github.com/ClickHouse/clickhouse-c
